<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="header">
    <nav class="flex">
      <a href="/">
        <button>Events</button>
      </a>
      <a href="/event">
        <button>All Events</button>
      </a>
      <a href="/event/new">
        <button>Add Events</button>
      </a>
    </nav>
  </header>
  <main class="main container">
    <h1>Welcome to My Events</h1>
    <p>
      Our Website gives you the access to write about events on any topic.
      We give the liberty to select user to write about any topic in the
      world.Many people will come to our website and it will allow them to
      like and dislike your event. You can edit or delete your event at
      any point of time when you feel so.
    </p>

  </main>
  <footer>
    <div class="footer">Copyright
      <small>&copy; Company Name.Design:TemplateMo</small>
      <nav class="nav-fb">
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </nav>
    </div>
  </footer>
</body>

</html>