<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="flex">
            <a href="/">
                <button>Events</button>
            </a>
            <a href="/event">
                <button>All Events</button>
            </a>
            <a href="/event/new">
                <button>Add Events</button>
            </a>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <div class="footer">Copyright
            <small>&copy; Company Name.Design:TemplateMo</small>
            <nav class="nav-fb">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </nav>
        </div>
    </footer>
</body>

</html>